html {
    font-size: 62.5%;
}

body {
    font-family: Calibri sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background: rgba(0, 0, 0, 0.61);
    text-align: right;
    color: white;
    font-size: 1.6rem;
}

.menu > ul {
    display: inline-block;
    margin-right: 1rem;

}

.menu > ul > li {
    display: inline-block;
    padding-inline: 3rem;
    transition-property: font-size, color;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.menu >ul >li:hover {
    font-size: 2rem;
    color: orangered;
}

.menu > i:first-child {
    transition-property: font-size, color;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.menu > i:first-child:hover {
    font-size: 2rem;
    color: orangered;
}

@media screen and (max-width: 665px ) {
    .menu > ul >li {
        display: block;
        padding: 1rem;
    }

    .menu >ul {
        margin: 0;
        padding: 0;
    }

    .menu {
        text-align: left;
    }

    .menu > i:first-child {
        float: left;
        margin-left: 1rem;
    }
}